<nav class="navbar navbar-main navbar-expand-lg px-0 mx-3 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
  <div class="container-fluid py-1 px-3 form-control bg-white d-flex align-items-center justify-content-between">
      <!-- Title Section -->
      <div class="d-flex align-items-center">
          <h3 class="mb-0 h4 font-weight-bolder" style="font-weight: bold; font-family:Poppins;">
              Office of President and Cabinet
          </h3>
      </div>

      <!-- Navigation Links -->
      <div class="d-flex align-items-center">
          <!-- Sidenav Toggler -->
          <a href="javascript:;" class="nav-link text-body p-0 d-xl-none" id="iconNavbarSidenav">
              <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
              </div>
          </a>

          <!-- User Profile Link -->
          <a href="{% if user.profile.role == 'HR' %}{% url 'user_profile_hr' %}{% elif user.profile.role == 'Supervisor' %}{% url 'user_profile_sp' %}{% elif user.profile.role == 'Head of Department' %}{% url 'user_profile_hd' %}{% else %}{% url 'user_profile' %}{% endif %}" 
              class="nav-link text-body font-weight-bold px-2 d-flex align-items-center">
              <i class="material-symbols-rounded me-1">account_circle</i>
              <span style="font-weight: bold;">{{ user.email }}</span>
          </a>
      </div>
  </div>
</nav>
