{% load static %}

<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-radius-lg fixed-start ms-2  bg-white my-2" id="sidenav-main">
    <div class="sidenav-header">
     <i class="fas fa-times p-3 cursor-pointer text-dark opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
     <a class="navbar-brand px-4 py-3 m-0" href="#" target="_blank">
       <img src="{% static 'mw.png' %}" class="navbar-brand-img" width="26" height="26" alt="main_logo">
       <span class="ms-1 text-sm text-dark" style="font-weight: bold; font-family:Poppins;">
      administrator </span>
     </a>
   </div>
   <hr class="horizontal dark mt-0 mb-2">
   <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
     <ul class="navbar-nav">
     
      <!-- <li class="nav-item">
        <a href="{% url 'hr_dashboard' %}" class="nav-link text-dark {% if request.path == '/hr-dashboard/' %}active bg-gradient-dark text-white {% endif %}">
          <i class="material-symbols-rounded opacity-5">dashboard</i>
          <span class="nav-link-text ms-1">Leave Requests</span>
        </a>
      </li> -->
      
      <li class="nav-item">
        <a href="{% url 'ad_dash' %}" class="nav-link text-dark {% if request.path == '/ad/home/' %}active bg-gradient-dark text-white {% endif %}">
          <i class="material-symbols-rounded opacity-5">person_add</i>
          <span class="nav-link-text ms-1">Home</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="{% url 'register' %}" class="nav-link text-dark {% if request.path == '/register/' %}active bg-gradient-dark text-white {% endif %}">
          <i class="material-symbols-rounded opacity-5">person_add</i>
          <span class="nav-link-text ms-1">Create Employee</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a href="{% url 'employee_list' %}" class="nav-link text-dark {% if request.path == '/employees/' %}active bg-gradient-dark text-white {% endif %}">
          <i class="material-symbols-rounded opacity-5">people</i>
          <span class="nav-link-text ms-1">Manage Employees</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="{% url 'add_leave_request_adm' %}" class="nav-link text-dark  {% if request.path == '/add_leave_request_adz/' %}active  bg-gradient-dark text-white {% endif %}">
          <i class="material-symbols-rounded opacity-5">table_view</i>
          <span class="nav-link-text ms-1">Request Leave</span>
        </a>
      </li>
      <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #f8f9fa;
           
            font-size: small;
        }

       
        .export-buttons {
  display: flex;
  gap: 1em; /* Space between buttons */
  /*  Center the buttons horizontally */
  flex-wrap: nowrap; /* Prevent wrapping to a new line */
}

.container-btn-file {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #307750;
  color: #fff;
  border: none;
  padding: 0.5em 1em; /* Adjust padding for a smaller size */
  border-radius: 0.5em;
  overflow: hidden;
  z-index: 1;
  box-shadow: 4px 8px 10px -3px rgba(0, 0, 0, 0.356);
  transition: all 250ms;
  font-size: 0.9rem;
  cursor: pointer;
}

.container-btn-file > svg {
  margin-right: 0.5em; /* Add spacing between icon and text */
  width: 16px;
  height: 16px;
}

.container-btn-file:hover {
  background-color: #469b61; /* Slightly brighter green on hover */
}


.container-btn-file input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.container-btn-file > svg {
  margin-right: 0.5em; /* Adjust spacing */
  width: 16px; /* Smaller icon */
  height: 16px; /* Smaller icon */
}
.container-btn-file::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  border-radius: 0.5em;
  background-color: #469b61;
  z-index: -1;
  transition: all 350ms;
}
.container-btn-file:hover::before {
  width: 100%;
}

       
    </style>
      <!-- <li class="nav-item">
        <a href="{% url 'leave_request_form' %}" class="nav-link text-dark {% if request.path == '/leave-requestx/' %}active bg-gradient-dark text-white {% endif %}">
          <i class="material-symbols-rounded opacity-5">event_available</i>
          <span class="nav-link-text ms-1">Create Leave</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a href="{% url 'leave_requests_table_hr' %}" class="nav-link text-dark {% if request.path == '/hr/leave-requests/' %}active bg-gradient-dark text-white {% endif %}">
          <i class="material-symbols-rounded opacity-5">cloud_download</i>
          <span class="nav-link-text ms-1">Downloads</span>
        </a>
      </li> -->

      <li class="nav-item">
        <a href="{% url 'upload_employees_excel' %}" class="nav-link text-dark {% if request.path == '/upload-employees/' %}active bg-gradient-dark text-white {% endif %}">
          <i class="material-symbols-rounded opacity-5">cloud_download</i>
          <span class="nav-link-text ms-1">Upload</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'logout_user' %}">
          <i class="material-symbols-rounded opacity-5">logout</i>
          <span class="nav-link-text ms-1">Logout</span>
        </a>
      </li>
      
       <style>
        /* From Uiverse.io by alexroumi */ 
</style>
     </ul>
   </div>
   
 </aside>